cryptography==1.7.1
Flask==0.12.1
geocoder==1.38.1
oauthlib==2.0.1
pyHS100==0.3.5
python-apt==1.1.0b5
requests==2.20.0
requests-oauthlib==0.7.0
simplejson==3.10.0
six==1.11.0
thonny==2.1.16
twython==3.4.0
typing==3.6.6
urllib3==1.24
